#common-wrapper .hide {
  display: none !important;
}
#common-wrapper .show {
  display: initial !important;
}
#common-wrapper .float-left {
  float: left;
}
#common-wrapper .float-right {
  float: right;
}
#common-wrapper .text-right {
  text-align: right;
}
#common-wrapper .text-center {
  text-align: center;
}
#common-wrapper .text-left {
  text-align: left;
}
#common-wrapper .red {
  color: red;
}
#common-wrapper ::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}
#common-wrapper ::-webkit-scrollbar-track-piece {
  background: none;
}
#common-wrapper ::-webkit-scrollbar-thumb {
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 12px;
  background-clip: padding-box;
  background-color: #ccd4d4;
  box-shadow: inset -1px -1px 0px #ccd4d4, inset 1px 1px 0px #ccd4d4;
}
#common-wrapper .position-h-mid {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
#common-wrapper .position-v-mid {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#common-wrapper .position-h-v-mid {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#common-wrapper .el-button--text {
  margin: 0px;
  padding: 0px;
  color: #00a8d7;
}
#common-wrapper .el-button--primary {
  background-color: #00a8d7;
  border-color: #00a8d7;
}
#common-wrapper .el-button--primary.is-disabled {
  color: #ffffff;
  cursor: not-allowed;
  background-image: none;
  background-color: #b8e9f8;
  border-color: #b8e9f8;
}
#common-wrapper .el-textarea__inner {
  resize: none;
}
#common-wrapper .el-select,
#common-wrapper .el-slider__runway {
  z-index: 0;
}
#common-wrapper .el-input__inner:hover {
  border-color: #00a8d7;
}
#common-wrapper .el-select .el-tag--primary {
  background-color: #f4f4f4;
  border-color: #dfe4e6;
  color: #6e6e6e;
}
#common-wrapper .el-select:hover .el-input__inner {
  border-color: #00a8d7;
}
#common-wrapper .el-dropdown .el-icon-caret-bottom {
  font-size: 12px;
  margin-left: 16px;
}
#common-wrapper .el-tag {
  background-color: #f4f4f4;
  color: #454545;
  border-color: #e6e6e6;
  padding: 0px 10px;
}
#common-wrapper .el-pager li.active {
  border-color: #00a8d7;
  background-color: #00a8d7;
}
#common-wrapper .el-dialog__wrapper .el-dialog__body {
  padding: 0px;
}
body {
  font-family: 'Microsoft YaHei', 'CaviarDreams Bold', Helvetica, Arial, sans-serif, 'STHeiti';
}
